---
layout: default
---

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="index inner">
    <div>{{ content }}</div>

    <div>
      <header class="section-title">
        <h2>Updates</h2>
      </header>
      <div class="entries-{{ page.entries_layout | default: 'list' }}">
        {% for item in site.devposts %}
          <article class="entry">
            <h3 class="entry-title">
              <a href="{{ item.url | relative_url }}" rel="bookmark">{{ item.title }}</a>
            </h3>
            {% if item.date %}
              <time class="entry-time" datetime="{{ item.date | date_to_xmlschema }}">{{ item.date | date: "%B %-d, %Y" }}</time>
            {% endif %}
            <p>{{ item.description }}</p>
          </article>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
