---
layout: default
---

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="index inner">
    <div>{{ content }}</div>

    <div>
      <header class="section-title">
        <h2>Updates</h2>
      </header>
      <div class="entries-{{ page.entries_layout | default: 'list' }}">
        {% for item in site.devposts %}
          <article class="entry">
            <h3 class="entry-title">
              <a href="{{ item.url | relative_url }}" rel="bookmark">{{ item.title }}</a>
            </h3>
            {% if item.date %}
              <li><span class="icon">{% include icon-calendar.svg %}</span><time class="entry-time" datetime="{{ item.date | date_to_xmlschema }}">{{ item.date | date: "%B %-d, %Y" }}</time></li>
            {% endif %}
            {% if item.read_time %}
              <li><span class="icon">{% include icon-stopwatch.svg %}</span>{% capture read_time %}{% include read-time.html %}{% endcapture %}{{ read_time | strip }}</li>
            {% endif %}
            <p>{{ item.description }}</p>
            <p><a href="{{ post.url | relative_url }}" class="more-link">{{ site.data.theme.t.read_more | default: 'Read More' }} <span class="icon icon--arrow-right">{% include icon-arrow-right.svg %}</span></a></p>
          </article>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
