html, body {
	margin: 0;
	padding: 0;
	background-color: black;
	width:100%;
}

#name{
	margin-top:30px;
	text-align: center;
	font-size:30pt;
	font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica;
	color:white;
	/*text-shadow: 0px 2px 10px #000000;*/
}

.canvas{
	background-color: #000;
    width: 100px;
    height: 100px;
    /*margin: 10px;*/
    /*padding: 0px;*/
    position: relative;
    /*top: 10px; */
    left: 10px;
    bottom:10px;
}

#c{
	
	left:0px;
	width:100%;
	height:100%;
}

#navbar{
	width:120px;
	float:left;

	position: fixed;
	-moz-box-shadow:    0px 0px 20px 0px #000;
	-webkit-box-shadow: 0px 0px 20px 0px #000;
	box-shadow:         0px 0px 20px 0px #000;
	background-color: black;
	z-index: 2;
}
#content{
	height:100%;
	
	text-align: center;
	
	padding-left:120px
}

#name-area{
	width:100%;
	margin-top:-30px;
	background-color: #525252;
	height:90px;
	padding-top:40px;
}

#other-area{
	width:100%;
	background-color: #ffffff;
	height:100%;
	-moz-box-shadow:    0px 0px 100px 0px #222;
	-webkit-box-shadow: 0px 0px 100px 0px #222;
	box-shadow:         0px 0px 100px 0px #222;
}

#text-area-1{
	padding-top:20px;
	width:90%;
	margin: 0 auto;


}

#paragraph-1{
	width:34%;
	height:100%;
	float:left;
	padding-left:10px;
	background-color: white;
	color:black;
	text-align: left;
	font-size:16pt;
	font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica;
	/*-moz-box-shadow:    3px 3px 5px 6px #444;
	-webkit-box-shadow: 3px 3px 5px 6px #444;
	box-shadow:         3px 3px 5px 6px #444;*/
}

#paragraph-1 em{
		font-family: "HelveticaNeue-LightItalic", "Helvetica Neue Light Italic", "Helvetica Neue", Helvetica;
}


#paragraph-2{
	overflow:hidden;
	float:right;
	padding-left:10px;
	width:62%;
	height:100%;
	background-color: white;
	color:black;
	text-align: left;
	font-size:16pt;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica;
/*	-moz-box-shadow:    3px 3px 5px 6px #444;
	-webkit-box-shadow: 3px 3px 5px 6px #444;
	box-shadow:         3px 3px 5px 6px #444;*/
}

#home-pic{
	padding-top:25px;
	width:100%;
	margin: 0 auto;
}

#photo-area{
	width:35%;
	margin: 0 auto;
}

#coat-pic{
	margin: 0 auto;
	width:100%;
	padding-top:25px;
}

#about-text-area{
	overflow: scroll;
	width:60%;
	padding-top:30px;
	padding-bottom:20px;
	margin: auto;
	text-align: left;
	font-size:18pt;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica;
}

#big-dot{
	width: 10%;
	text-align: center;
	font-size:30pt;
	padding-bottom:60px;
	margin: auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica;
}
